*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: #fff;
}

body {
    background: #1f1100;
    color: var(--color);
    width: 100%;
    position: relative;
    font-family: art-deco-title;
    overflow-x: hidden;
}

@font-face {
    font-family: art-deco;
    src: url(/RocketeersIkiikocom-Rp8jV.otf);
}

@font-face {
    font-family: art-deco-title;
    src: url(/ParkLaneNF.otf);
}

.corners img {
    position: absolute;
    width: 10rem;
}

.corner1 {
    top: 0;
    left: 0;
}

.corner2 {
    top: 0.5rem;
    right: 0;
    transform: rotate(90deg);
}

.corner3 {
    bottom: 1rem;
    left: -0.5rem;
    transform: rotate(-90deg);
    pointer-events: none;
}

.corner4 {
    bottom: 1rem;
    right: 0;
    transform: rotate(180deg);
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00adad;
    border-bottom: 2px solid #d9d9d9;
}

.title-banner-top {
    width: 25rem;
    padding-top: 1rem;
}

.title {
    padding: 0.5rem;
    font-family: art-deco-title;
    font-size: 2rem;
}

.title-divider {
    position: absolute;
    top: 3.5rem;
    width: 20rem;
}

.subtitle {
    font-family: art-deco;
    padding: 4rem 0 2.75rem 0;
    text-decoration: underline #d9d9d9;
}

.divider {
    position: absolute;
    top: 4.7rem;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 70vh;
}

.navbar-container {
    display: flex;
    justify-content: center;
    background: #002e59;
    padding: 1rem;
    border-bottom: 2px solid silver;
}

.navbar-links {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    transition: all 0.3s;
    border-radius: 0.2rem;
    position: relative;
}

.navbar-links li a:hover {
    text-shadow: 0 0 5px black;
}

.navbar-links li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    margin-left: 10%;
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: center;
}

.navbar-links li a:hover::after {
    transform: scale(1);
    background: #d9d9d9
}

/* basket */
.basket-background {
    width: 7rem;
    position: absolute;
    top: 5rem;
    right: 5rem;
}

.basket {
    color: #fff;
    position: absolute;
    top: 6.3rem;
    right: 7.9rem;
    font-size: 1.3rem;
}

.counter {
    font-family: helvetica;
    position: absolute;
    top: 5.5rem;
    right: 7.3rem;
    background: red;
    padding: 0.1rem 0.3rem;
    border-radius: 20%;
    font-size: 0.85rem;
}

/* info containers */
.info-container {
    display: flex;
    max-width: 80%;
    height: 31.35rem;
    background: var(--color);
    position: relative;
    margin: 10rem auto;
    overflow: hidden;
    color: #333;
}

.border2 {
    width: 100%;
    position: absolute;
    top: -5.607rem;
    left: -0.01rem;
}



/* footer grid */
.footer {
    background: #00adad;
    padding: 0.4rem 0 7rem 0;
    border-top: 2px solid #d9d9d9;
}

.footer-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% auto 20%;
    font-family: art-deco;
}

.footer-links {
    grid-area: 1 / 1;
    grid-column: span 3;
    display: flex;
    justify-content: center;
    font-family: art-deco-title;
    list-style: none;
    padding: 2rem;
    border-bottom: 2px solid #d9d9d9;
}

.footer-links li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color);
    padding: 1rem 0;
    margin: 0 1rem;
    position: relative;
}

.footer-links li a::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    height: 2px;
    width: 80%;
    margin-left: 10%;
    transform: scale(0);
    transition: all 0.3s;
    transform-origin: center;
}

.footer-links li a:hover::after {
    transform: scale(1);
    background: #d9d9d9
}

.help-column {
    grid-area: 2 / 1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-top: 20%;
}

.footer-title {
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    text-decoration: underline 2px #d9d9d9;
}

.help-column-text {
    list-style: none;
}

.help-column-text li a {
    text-decoration: none;
    color: var(--color);
    transition: all 0.3s;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.help-column-text li a:hover {
    padding-left: 1rem;
}

.form {
    grid-area: 2 / 2;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    position: relative;
}

.form h1 {
    align-self: center;
    text-decoration: underline #d9d9d9;
    font-family: art-deco-title;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.form input {
    width: 80%;
    align-self: center;
    outline: none;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
}

.form textarea {
    width: 80%;
    align-self: center;
    outline: none;
    padding: 0.5rem;
    padding-bottom: 3rem;
    margin-bottom: 0.3rem;
}

.form button {
    padding: 0.5rem 1rem;
    width: 20%;
    border: 2px solid #d9d9d9;
    outline: none;
    cursor: pointer;
    color: var(--color);
    background: #002e59;
    padding-top: 0.6rem;
    font-family: art-deco;
    font-size: 1.2rem;
    align-self: flex-end;
    transform: translateX(-50%);
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.form button:hover {
    background: #00d2d2;
    text-shadow: 0 0 5px black;
}

.form::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.5rem;
    width: 1px;
    height: 85%;
    background: #d9d9d9;
}

.form::after {
    content: '';
    position: absolute;
    right: 0;
    top: 1.5rem;
    width: 1px;
    height: 85%;
    background: #d9d9d9;
}

.social-container {
    grid-area: 2 / 3;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1rem;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
}

.social-container a {
    color: var(--color);
    padding: 0.7rem;
    padding-top: 0.8rem;
    border: 2px solid #d9d9d9;
    font-size: 1.2rem;
    transition: all 0.3s;
}

.social-container a:hover {
    background: var(--color);
    color: #00adad;
}

.social-container a:first-child {
    padding-left: 0.8rem;
}

.copyright {
    grid-area: 3 / 1;
    grid-column: span 3;
    color: var(--color);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}